.super-screen{
  min-height: 93vh! important;
  width: 100%;
  border-radius:10px;
  background-size:cover;
  align-items: center;
  padding: 1px 2px 5px 2px;
  margin: 0px 0px 7px 0px;
  background-color: #f0eeef;
  overflow-y: hidden;

}
 @media (min-width: 1920px){
 .super-screen{
 min-height: 90vh;
 }
 }
.collapase-box{
  border: 1px solid #aca6a69e;
  border-radius: 5px;
  margin:2px 0px 0px 0px;
  box-shadow: 2px 2px 2px 0px #a1a1a1, -1px 0px 2px 0px #ffffff;
  background-color: #f0eeef;
  height: 100%;
}
.tour-create{
   border-bottom: 2px solid #d3d3d3;
    box-shadow: 0px 5px 0px -3px #fff;
    margin: 0px 5px;
    padding: 0px 13px;
    color: #005383;
}
.new{
  text-align: center;
  font-size: 12px;
  color: #005383;
  font-weight: bolder;
  padding-top: 2px;
  height: 8px;
}
.labelname{
  float: right;
  font-size: 12px;
  padding: 4px 0px 0px 0px;
}
 @media (min-width: 1920px){
 .labelname{
 font-size: 15px;
  padding: 8px 0px 0px 0px;
 }
 }
.tour-form{
    margin: 2px 0px 15px 0px;
    width: 100%;
    line-height: 1.5;
    padding: 2px 5px 5px 16px;
    font-size: 14px;
    background-color: #fff0;
    background-clip: padding-box;
    border: 1px solid #aca6a69e;
    border-radius: 15px;
    -webkit-box-shadow: inset 3px 2px 0px 0px #a1a1a1, inset -4px -3px 0px 0px #fff;
    box-shadow: inset 3px 2px 0px 0px #a1a1a1, inset -4px -3px 0px 0px #fff;
}
@media (min-width: 1920px){
 .tour-form{
 margin: 2px 0px 25px 0px;
 }
 }
.add-tour{
  border: 1px solid #aca6a69e;
  border-radius: 15px;
  margin:6px 0px 0px 0px;
  box-shadow: 2px 2px 2px 0px #a1a1a1, -1px 0px 2px 0px #ffffff;
  background-color: #f0eeef;
  color:#005383;
  text-align: center;
  font-size: 12px;
  padding: 4px 14px;
  font-weight: bolder;
}
.calculate{
  border: 1px solid #aca6a69e;
  border-radius: 15px;
  margin:6px 0px 10px 0px;
  box-shadow: 2px 2px 2px 0px #a1a1a1, -1px 0px 2px 0px #ffffff;
  background-color: #dfddde;
  color:#7f7f7f;
  text-align: center;
  font-size: 12px;
  padding: 4px 0px 4px 0px;
  height: 31px;
  }
  @media (min-width: 1920px){
 .calculate{
 margin:6px 0px 20px 0px;
 font-size: 15px;
    padding: 5px 0px 4px 0px;
    height: 38px;
 }
 }

.savecancel{
     background-color: #f0eeef;
    box-shadow: 2px 4px 2px 0px #a1a1a173, -3px -2px 0px 0px #fff;
    text-align: center;
    color: #025480;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
     border-radius: 30px;
    -ms-flex-line-pack: center;
}
.savecancel:hover, .savecancel:active{
    background-color: #f0eeef;
    box-shadow:inset 4px 4px 0px 0px #818181,inset -2px -2px 0px 0px #fff;
    color:#005383;
    cursor:pointer;
}

.allocate-table{
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 4px;
    margin-top: 10px;
    max-height: 182px;
    overflow-y: scroll;
}
.allocate-tbl{
width:100%;
}
.allocate-head{
   /* background-color: #dfddde;*/
    border-right: 2px solid #d3d3d3;
    box-shadow: 2px 0px 0px 1px #fff;;
    margin: 5px;
}
.allocate-r{
border-bottom: 2px solid #d3d3d3;
    box-shadow: 0px 6px 0px -3px #fff;
    margin: 5px;
}
.inform{
    color: #005383;
}
.autocomplete-dropdown-container{

}
.create{
    margin-bottom: 6px;
    padding: 0px 0px 0px 30px;
}
.fo{

  margin-bottom: 1rem;
    /* border: 1px solid #a9a9a9; */
    border: 1px solid #aca6a69e;
    border-radius: 9px;
    margin: 35px 0px 2px 0px;
    -webkit-box-shadow: 2px 2px 2px 0px #a1a1a1, -1px 0px 2px 0px #ffffff;
    box-shadow: 2px 2px 2px 0px #a1a1a1, -1px 0px 2px 0px #ffffff;
    background-color: #f0eeef;
    padding: 10px;
    max-height: 78vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.optionspopup {
    border-bottom: 2px solid #d3d3d3;
    -webkit-box-shadow: 0px 6px 0px -3px #fff;
    box-shadow: 0px 6px 0px -3px #fff;
    margin: 5px;
    /* padding-bottom: 11px; */
}
.popover-body {
    padding: 0.5rem 0.75rem;
    color: #3a3939;
    background-color: #f0eeef;
    border-radius: 12px;
    box-shadow: 2px 3px #cecece, inset 2px 3px #ffffff;
    word-wrap:normal;
    font-size:10px;
    /*max-width: 173px;*/
    border:0px solid;

    }
    .bs-popover-bottom > .arrow, .bs-popover-auto[x-placement^="bottom"] > .arrow {
    top: calc(0.5rem - 17px);
   }
   .allocate-fo{
   margin-bottom: 1rem;
    border: 1px solid #aca6a69e;
    border-radius: 9px;
    margin: 13px 0px 2px 0px;
    box-shadow: 2px 2px 2px 0px #a1a1a1, -1px 0px 2px 0px #ffffff;
    background-color: #f0eeef;
    padding: 10px;
    }
    .ar {
    -webkit-appearance: none;
    -moz-appearance: none;
}
    .mapdesign{
    height: 450px;
     width: 100%;
    }
    .plabackmap{
     height: 250px;
     width: 100%;
    }
    @media (min-width: 1920px){
 .mapdesign{
  height: 540px;
 }
 }
  .mapallocate{
    height: 333px;
     width: 100%;
    }
    @media (min-width: 1920px){
 .mapallocate{
  height: 382px;
 }
 }
 .ReactModal__Body--open{
 position: absolute !important;
 }
.stops {
    padding-top: 100px;
}
.modal-content {
    min-height: 165px;
    }
.btn-outline-dark:hover {
    color: #fff;
    background-color: #005382 !important;
    border-color: #343a40;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #D3D3D3;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}