.leaflet-container{
min-height:86vh;
}
.FullScreenMap {
  position:fixed;
    z-index:999;
    background: white;
    right: 0;
    margin-top: 55px;
    margin-right: 20px;
}
a {
    display: inline-block;
}
a .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: blue;
    text-align: center;
    position: absolute;
    z-index: 999;
    top: 22%;
    font-size: 12px;
    right: 0;
    font-weight: 600;
    margin-right: -20px;
}
/* Show the tooltip text when you mouse over the tooltip container */
a:hover .tooltiptext {
  visibility: visible;
}

.marker-cluster-custom {
  background: #9370db;
  border: 3px solid #ededed;
  border-radius: 50%;
  color: #ededed;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}
.mapp{
    box-shadow: 2px 4px 2px 0px #a1a1a173,-2px -4px 2px 0px #fff ;

}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
     box-shadow: 2px 4px 2px 0px #a1a1a173,-2px -4px 2px 0px #fff ;
     color: #3a3939;
     background-color: #f0eeef;
}
.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 3px 0 0;
    margin: 2px;
    text-align: center;
    color: red;
    text-decoration: none;
}
.leaflet-container a.leaflet-popup-close-button:hover {
    text-align: center;
    color: #9e003a;

}
.mapseperator{
   border-bottom: 2px solid #d3d3d3;
    box-shadow: 0px 6px 0px -3px #fff;
    margin: 0px;
    }
